.header
  display: grid
  grid-template-columns: 40% 40% 20%
  .auth
    display: flex
    align-items: center
    .user-info
      display: flex
      align-items: center
      gap: 1rem
      img
        height: 4rem
        border-radius: 50%
      span
        max-width: 80%
        overflow: hidden
        font-size: .7em
        line-height: 1.2em
    button
      margin-left: auto
