<mat-toolbar class="header" color="primary">
  <span>RxJs App</span>
  <nav class="header-menu">
    <a mat-button class="header-menu-item" routerLink="users">Users</a>
    <a mat-button class="header-menu-item">About</a>
    <a mat-button class="header-menu-item">Contacts</a>
  </nav>
  <div class="auth">
    <div class="user-info" *ngIf="user">
      <img src="{{ user.photoUrl }}" alt="user avatar" referrerpolicy="no-referrer" />
      <span>{{ user.name }}<br><small>{{ user.email }}</small></span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="!loggedIn" (click)="login()">Login<mat-icon class="mat-16">login</mat-icon></button>
  <button mat-menu-item *ngIf="loggedIn" (click)="signOut()">Logout<mat-icon class="mat-16">logout</mat-icon></button>
</mat-menu>
